node_modules

bootstrap/cache/services.php

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

vendor/**/test*
vendor/**/Tests*

**/*node_modules

**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache
*.env*
